/* Icon */
.fa-user, .fa-envelope, .fa-lock, .fa-circle-user, .fa-bell, .fa-xmark, .fa-image {color: white;}
.fa-magnifying-glass {
    color: #AAA;
    position: relative;
    left: 30px;
}
.fa-trash{color: #D05757;}
.fa-image, .user {cursor: pointer;}
.user:hover + .setting{
    display: flex;
}
.userPost{
    color: black;
    padding-right: 30px;
    /* height: 51px;
    width: 51px; */
}
.fa-xmark{margin-left: 10px;}
.userNotif{margin: 0 15px;}

.fa-thumbs-up, .fa-thumbs-down, .fa-comment-dots{
    padding: 0 6px 0 15px;
    cursor: pointer;
}

/* Text */
.param p {
    margin: 5px 0;
    font-size: 18px;
}
.param h3 {
    margin: 10px 0;
    font-size: 20px;
}
.paddingUsernameDate{
    margin: 0;
}

/*  */
#file{
    width: 0.1px;
	height: 0.1px;
    opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}